<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' httpequiv='Content-Type' />
  </head>
  <body>
    <p> El usuario <%= @comment.author.plate %> ha comentado en el parking issue <%= @comment.issue.id %> </p>
    <p> Comment: </p>
    <p> <%= @comment.body %> </p>
  </body>
</html>