<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' httpequiv='Content-Type' />
  </head>
  <body>
    <p> El usuario <%= "#{@plate_of_issue_opener}" %> te ha mencionado en un parking issue </p>
    <p> Nuevo parking issue: </p>
    <p> <%= @issue.description %> </p>
  </body>
</html>