// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "reset";
@import "variables";
@import "mixins";
@import "media_queries";

// Placeholder centered
%centered {
  margin: 0 auto;
}

.container {
  background-image: url(image_path('bg.png'));
  min-height: 530px;
}

a {
  color: darken($issues_lists_color, 50%);
  text-decoration: none;
}

a::hover{
  color: darken($issues_lists_color, 15%);
}

body{
  font-family: 'helvetica', sans-serif;
  height: 100%;
  min-width: 375px;
}

// header
header, footer {
  overflow: hidden;
  background-color: black;
  a, .plate {
    color: white;
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    margin-bottom: 2px;
  }
  a {
    margin-top: 23px;
  }
  height: 70px;
}

// not related to you msg
.not_related_to_you {
  font-weight: bold;
  margin: 20px 0 0 10px;
  font-size: 1.2rem;
}


// login

.login {
  margin:12px 10px 0 0;
  float: right;
  zoom: 0.9;
  color: white;
  .field {
    display: inline-block;
  }
  .actions {
    margin-top: 10px;
  }
  .actions div{
    display: block;
    float: right;
  }
  .button {
    margin-left: 10px;
  }
}



// plate
.plate {
  border: 1px grey solid;
  display: inline-block;
  zoom: 1;
  border-radius: 4px;
  width: 100px;

  overflow: hidden;
  padding-left: 4px;
}

.dot {
  border-radius: 50%;
  width: 3px;
  height: 3px; 
  background-color: white;
  display: inline;
}

p {
  display: inline-block;
  margin: 4px 4px 0 4px;
}

.left {
  float: left;
  margin-left: 2px;
}

.right {
  float: right;
  margin-right: 2px;
}

.top {
  margin-top: 2px;
}

.bottom {
  margin-bottom: 2px;
}
// fin header

bold {
  font-weight: bold;
}



.issues_lists {
  @extend %centered;

  overflow: hidden;
  padding: 20px 0;
}

.my_opened_issues {
  float: left;
}

.my_received_issues {
  float: right;
}

.my_opened_issues, .my_received_issues {
  @extend .col_3;
  background-color: $issues_lists_color;
}

.my_opened_issues div, .my_received_issues div {
  padding: 5px;
}


.home_with_user {

  padding: 20px;
}

.home_with_user section {
  vertical-align: top;
}

.home_with_user, .new_issue_form {
  @extend %centered;
}



.issues_lists h1, .new_issue_form h1 {
  background-color:  darken($issues_lists_color, 20%);
  color: white;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px 0 5px 0;
}


// New issue form

.new_issue_form {
  margin-top: 50px;
  background-color: $issues_lists_color;
}


.form {
  @extend %centered;
  overflow: hidden;
  padding-top: 5px;
}

.textarea {
  width: 100%;
}

.new_issue_button {
  display: block;
  float: right;
  background-color: darken($issues_lists_color, 20%);
  color: white;
  border: none;
  margin-bottom: 10px;
}


.plate_doesnt_exist {
  background-color: darken($issues_lists_color, 10%);
  color: red;
  padding: 0 3px 0 3px;
}


// Search form

.search_plates {
  display: inline-block;
  float: right;
  background-color: $issues_lists_color;
  padding: 7px;
  margin: 10px 10px 0 0;
}

.search_plates_button {
  background-color: darken($issues_lists_color, 20%);
  color: white;
  border: none;
  padding: 3px;
}


// new_user form
.new_user {
  display: inline-block;
  float: right;
  background-color: $issues_lists_color;
  padding: 7px;
  margin: 10px 10px 0 0;
}

.new_user_button {
  background-color: darken($issues_lists_color, 20%);
  color: white;
  border: none;
  padding: 3px;
  margin-top: 5px;
  float: right;
}


// product description
.product_description{
  background-color: $issues_lists_color;
  display: inline-block;
  float: left;
  color: white;
  margin: 10px 0 0 10px;
  ul {
    margin: 0 0 8px 20px;
    padding: 15px;
    li {
      margin-top: 10px;
    }
  }
  h1 {
    background-color: darken($issues_lists_color, 20%);
    padding: 15px;
    text-align: center;
    color: white;
  }
}

.home_container {
  overflow: hidden;
  padding-top: 40px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 1.1rem;
}


.new_session_button {
  background-color: DimGray;
  color: white;
  border: none;
  padding: 3px;
  margin-top: 5px;
  float: right;
}

.remember_me {
  margin-top: 7px;
}

.each_issue, .each_comment {
  border: 1px solid darken($issues_lists_color, 20%);
  margin-top: 4px;
}

.app_name {
  display: inline-block;
  margin-left: 30%;
  font-size: 2.8rem;
  color: white;
}





.comments_page_wrapper {
  margin: 0 auto;
  padding: 40px;
  display: inline-block;
  float: left;
}

.issue_shown {
  display: inline-block;
  background-color: $issues_lists_color;
  margin: 10px 10px 0 0;
}

.issue_shown_title {
  padding: 7px;
  background-color: darken($issues_lists_color, 20%);
}

.issue_shown_wrapper {
  padding: 7px;
}

.comments {
  display: inline-block;
  background-color: $issues_lists_color;
  margin-top: 10px;
}

.comments_title {
  padding: 7px;
  background-color: darken($issues_lists_color, 20%);
}

.comments_wrapper {
  padding: 7px;
}

.issue_and_comments {
  display: inline-block;
  float: left;
}

// new_comment form
.new_comment_form {
  display: inline-block;
  float: right;
  background-color: $issues_lists_color;
  margin: 10px 10px 0 0;
}

.new_comment_button {
  background-color: darken($issues_lists_color, 20%);
  color: white;
  border: none;
  padding: 3px;
  float: right;
}

.form_wrapper {
  margin: 10px 0;
  padding: 7px;
}

.new_comment_form_title {
  padding: 7px;  
  background-color: darken($issues_lists_color, 20%);  
}