$('.comments').append(' \
  <article class="comment"> \
    <p>Fecha de creación: <%= resource.created_at.to_s[0..-5] %></p> \
		<p>Body del comment: <%= resource.body %></p> \
	</article> \
');

$('.no_comments').hide();
$('#comment_body').val('');