$('.comments').append(' \
  <article class="comment each_comment"> \
    <p><bold>Creation date:</bold> <%= resource.created_at.to_s[0..-5] %></p> \
		<p><bold>Comment´s body:</bold> <%= resource.body %></p> \
	</article> \
');

$('.no_comments').hide();
$('#comment_body').val('');